@model sql_exercise_scoring.Models.Coder

@{
    ViewBag.Title = "Create Coder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Coder</h4>

            <form action="@Url.Action("Create", "CodersAdmin")" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CoderName" style="font-weight: 600;">Coder Name</label>
                            <input type="text" class="form-control border border-1 border-secondary" id="CoderName" name="CoderName" placeholder="Enter coder name" required style="height: 45px;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CoderEmail" style="font-weight: 600;">Email</label>
                            <input type="email" class="form-control border border-1 border-secondary" id="CoderEmail" name="CoderEmail" placeholder="Enter coder email" required style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CoderAvatar" style="font-weight: 600;">Avatar</label>
                            <input type="file" class="form-control border border-1 border-secondary" id="CoderAvatar" name="CoderAvatar" style="height: 45px;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DescriptionCoder" style="font-weight: 600;">Description</label>
                            <textarea class="form-control border border-1 border-secondary" id="DescriptionCoder" name="DescriptionCoder" placeholder="Enter a brief description" style="height: 45px;"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="PwdMd5" style="font-weight: 600;">Password</label>
                            <input type="password" class="form-control border border-1 border-secondary" id="PwdMd5" name="PwdMd5" placeholder="Enter password" required style="height: 45px;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Gender" style="font-weight: 600;">Gender</label>
                            <select class="form-control border border-1 border-secondary" id="Gender" name="Gender" style="height: 45px;">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="AdminCoder" style="font-weight: 600;">Is Admin</label>
                            <select class="form-control border border-1 border-secondary" id="AdminCoder" name="AdminCoder" style="height: 45px;">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ContestSetter" style="font-weight: 600;">Is Contest Setter</label>
                            <select class="form-control border border-1 border-secondary" id="ContestSetter" name="ContestSetter" style="height: 45px;">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ReceiveEmail" style="font-weight: 600;">Receive Email Notifications</label>
                            <select class="form-control border border-1 border-secondary" id="ReceiveEmail" name="ReceiveEmail" style="height: 45px;">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
